.nav-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: grey;
    border-bottom: 1px solid rgb(83, 82, 82) ;
    z-index: 999;
}

.nav-logo {
    color: white;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 3px;
    font-family: 'Montserrat';
}

.nav-items {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-bottom: 0px;
}

.nav-item {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 20px;
    margin-left: 20px;
}
